@import src/styles/_vars
.messages
  border: 0.04em solid grey
  background: $gradient
  height: 20em
  overflow: auto
  border-radius: 0.1em 0.1em 0 0 
.message
  &-group
    margin: 1em
  &-user
    font-family: $font
    font-size: 0.6em
    color: $name-color
    padding: 0.1em
  &-content
    font-family: $font
    font-style: italic
    color: $text-color
    font-size: 0.6em
    font-style: normal
    padding: 0.1em
